.add-product {
    /* text-align: center; */
    margin-top: 3rem;
}
.add-product p{
    text-align: center;
    font-size: 4rem;
}
.table {
    align-items: center;

}
table {
    margin-top: 2rem;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */

}
table td {
    margin: 5rem 0rem;
    font-size: 2rem;
}
table .textare {
    margin: 1rem 0;
    font-size: 2rem;
}
#input-box {
    padding: 0 1rem;
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}